*{
    margin:0;
    background-image: url(https://tse3.mm.bing.net/th/id/OIP.4W9GO4RJ8wQ0l38TRuR7bAHaE8?w=258&h=180&c=7&r=0&o=5&dpr=1.7&pid=1.7);
    background-size:fixed;
}
body{
    background-size: cover;
    background-attachment: fixed;
}
h2{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: darkviolet;
    font-size: 40px;
}
.container{
    text-align: center;
    margin-top: 50px;
    height: 600px;
    left: 0px;
}
.heading {
    width: 100%;
    padding-top: 20px;
  }
.users{
    margin-top: 20px;
}
#get_users{
    border-radius: 5px;
    padding:5px;
    background-image: linear-gradient(white,grey);
    color: red;
}
#data {
  width: 99%;
  height: 450px;
  text-align: right;
  justify-content: center;
  display: flex;
  padding-top: 30px;
}
table {
    color:black;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-align: center;
    margin-top: 30px;
    background: transparent;
  }
  tr{
    border: 2px solid rgb(54, 27, 177);
  }
  table tr :hover {
    background-color: rgb(206, 226, 113);
  }
  span{
    visibility: inherit;
  }